* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
}
.container {
  min-height: 200px;
  width: 400px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.container .sub-container {
  padding: 25px;
}
.container .top {

}
.container .bottom {
  background-color: rgba(30,43,50,0.06);
}
h1 {
  font-size: 2.4em;
  margin-top: 0;
  padding-top: 0;
}

h4  {
  margin-top: 10px;
  padding-top: 0;
}

h4::first-letter {
  text-transform: capitalize;

}

input {
  width: 100%;
  margin: 0;
  padding: 10px;
}

button {
  background-color: #3568B5;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  padding: 0.8em 2.5em;
  text-align: center;
  font-weight: 700;
  margin: 0.5em 0;
  cursor: pointer;
  border-radius: 4px;
  border: solid 1px #3568B5;
  width: 100%;
}
button.button--outline {
  background-color: white;
  color: #3568B5;
  border: solid 2px #3568B5;
}
.button-container	{
  text-align: right;
}

.options {
  background-color: rgba(30,43,50,0.06);
}

.options--container {
  max-width: 960px;
  margin: 25px auto;
  padding: 0 10px;
}

.field-set {
  margin-bottom: 20px;
}
.field-set:after {
  content: '';
  display: block;
  clear: both;
}
.field-set .field {
  display: inline-block;
  width: calc(50% - 50px);
  margin: 0;
  float: left;
}
.field-set .field:first-of-type {
  margin-right: 20px;
}

.field-set .field-set__option {
  display: inline-block;
  width: 20px;
  height: 16px;
  background: white;
  border: solid 1px lightgrey;
  margin: 10px 10px 10px 10px;
  float: left;
  position: relative;
  cursor: pointer;
}

.field-set .field-set__option--remove:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 4px;
  width: 10px;
  height: 2px;
  background: red;
}

.field-set .field-set__option--add:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 4px;
  width: 10px;
  height: 2px;
  background: green;
}

.field-labels {
  margin-top: 25px;
}

.field-labels::after {
  content: '';
  display: block;
  clear: both;
}

.field-labels .field-labels__label {
  float: left;
  width: calc(50% - 50px);
  padding: 1rem 0;
  font-weight: 700;
  font-size: 1rem;
}

.field-labels .field-labels__label:first-of-type {
  margin-right: 20px;
}

.results {
  margin-top: 10px;
}
